absl-py==0.13.0
apache-beam==2.33.0
appdirs==1.4.3
apturl==0.5.2
argon2-cffi==20.1.0
astunparse==1.6.3
async-generator==1.10
attrs==20.3.0
autobahn==21.2.1
automat==20.2.0
avro-python3==1.10.2
backcall==0.2.0
bcrypt==3.1.7
binance-client==1.0.0
binance==0.3
black==19.3b0
bleach==3.3.0
blinker==1.4
brlapi==0.7.0
cachetools==4.2.2
certifi==2019.11.28
cffi==1.14.5
chardet==3.0.4
charset-normalizer==2.0.6
clang==5.0
click==7.0
colorama==0.4.3
command-not-found==0.3
configparser==5.0.2
constantly==15.1.0
contextlib2==21.6.0
crcmod==1.7
cryptography==2.8
cssselect==1.1.0
cupshelpers==1.0
cycler==0.10.0
cython==0.29.24
dateparser==1.0.0
datetime==4.3
dbus-python==1.2.16
decorator==5.0.6
defer==1.0.6
defusedxml==0.7.1
dill==0.3.1.1
distro-info==0.23ubuntu1
distro==1.4.0
dm-tree==0.1.6
docker-pycreds==0.4.0
docopt==0.6.2
duplicity==0.8.12.0
entrypoints==0.3
et-xmlfile==1.0.1
fastavro==1.4.5
fasteners==0.14.1
flatbuffers==1.12
future==0.18.2
gast==0.4.0
gin-config==0.4.0
gitdb==4.0.7
gitpython==3.1.24
google-api-core==2.1.0
google-api-python-client==2.24.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-auth==1.35.0
google-pasta==0.2.0
googleapis-common-protos==1.53.0
grpcio==1.40.0
h5py==3.1.0
hdfs==2.6.0
httplib2==0.14.0
hyperlink==21.0.0
idna==2.8
importlib-resources==5.2.2
incremental==17.5.0
ipykernel==5.5.3
ipython-genutils==0.2.0
ipython==7.22.0
ipywidgets==7.6.3
itemadapter==0.2.0
itemloaders==1.0.4
jdcal==1.4.1
jedi==0.18.0
jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==6.2.0
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyter==1.0.0
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kaggle==1.5.12
keras-preprocessing==1.1.2
keras==2.6.0
keyboard==0.13.5
keyring==18.0.1
kiwisolver==1.3.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lockfile==0.12.2
louis==3.12.0
lvis==0.5.3
lxml==4.6.2
macaroonbakery==1.3.1
mako==1.1.0
markdown==3.3.4
markupsafe==1.1.0
matching==1.4
matplotlib==3.3.4
mistune==0.8.4
monotonic==1.5
multitasking==0.0.9
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
netifaces==0.10.4
notebook==6.3.0
numpy==1.19.5
oauth2client==4.1.3
oauthlib==3.1.0
object-detection==0.1
olefile==0.46
opencv-python-headless==4.5.3.56
opencv-python==4.5.3.56
openpyxl==3.0.6
opt-einsum==3.3.0
orjson==3.6.4
packaging==20.9
pandas-datareader==0.9.0
pandas==1.2.2
pandocfilters==1.4.3
paramiko==2.6.0
parsel==1.6.0
parso==0.8.2
pathtools==0.1.2
pexpect==4.6.0
pickleshare==0.7.5
pillow==8.4.0
pip==20.0.2
portalocker==2.3.2
prometheus-client==0.10.1
promise==2.3
prompt-toolkit==3.0.18
protego==0.1.16
protobuf==3.17.3
psutil==5.8.0
ptyprocess==0.7.0
py-cpuinfo==8.0.0
pyarrow==4.0.1
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycairo==1.16.2
pycocotools==2.0.2
pycparser==2.20
pycups==1.9.73
pydispatcher==2.0.5
pydot==1.4.2
pygments==2.8.1
pygobject==3.36.0
pyhamcrest==2.0.2
pyjwt==1.7.1
pymacaroons==0.13.0
pymongo==3.12.0
pynacl==1.3.0
pyopenssl==20.0.1
pyparsing==2.4.7
pyrfc3339==1.1
pyrsistent==0.17.3
pysocks==1.7.1
python-apt==2.0.0+ubuntu0.20.4.6
python-binance==0.7.9
python-dateutil==2.8.2
python-debian==0.1.36ubuntu1
python-slugify==5.0.2
python-twitter==3.5
pytz==2019.3
pyxdg==0.26
pyyaml==5.3.1
pyzmq==22.0.3
qtconsole==5.0.3
qtpy==1.9.0
queuelib==1.5.0
regex==2020.11.13
reportlab==3.5.34
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
requests==2.26.0
rsa==4.7.2
sacrebleu==2.0.0
scikit-learn==0.24.2
scipy==1.7.1
scrapy==2.4.1
seaborn==0.11.2
secretstorage==2.3.1
send2trash==1.5.0
sentencepiece==0.1.96
sentry-sdk==1.4.3
seqeval==1.2.2
service-identity==18.1.0
setuptools==45.2.0
shapely==1.7.1
shortuuid==1.0.1
simplejson==3.16.0
six==1.15.0
sklearn==0.0
smmap==4.0.0
speedtest-cli==2.1.2
subprocess32==3.5.4
systemd-python==234
tabulate==0.8.9
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboard==2.6.0
tensorflow-addons==0.14.0
tensorflow-datasets==4.4.0
tensorflow-estimator==2.6.0
tensorflow-hub==0.12.0
tensorflow-metadata==1.2.0
tensorflow-model-optimization==0.7.0
tensorflow-text==2.6.0
tensorflow==2.6.0
termcolor==1.1.0
terminado==0.9.4
testpath==0.4.4
text-unidecode==1.3
tf-models-official==2.6.0
tf-slim==1.1.0
thop==0.0.31.post2005241907
threadpoolctl==2.2.0
toml==0.10.0
torch==1.9.1
torchvision==0.10.1
tornado==6.1
tqdm==4.59.0
traitlets==5.0.5
tweepy==3.10.0
twisted==20.3.0
twitterapi==2.6.9
txaio==21.2.1
typeguard==2.12.1
typing-extensions==3.7.4.3
tzlocal==2.1
ubuntu-advantage-tools==27.2
ubuntu-drivers-common==0.0.0
ufw==0.36
ujson==4.0.2
unattended-upgrades==0.1
uritemplate==3.0.1
urllib3==1.25.8
usb-creator==0.3.7
utils==1.0.1
w3lib==1.22.0
wadllib==1.3.3
wandb==0.12.4
wcwidth==0.2.5
webencodings==0.5.1
werkzeug==2.0.1
wheel==0.37.0
widgetsnbextension==3.5.1
wrapt==1.12.1
xkit==0.0.0
xlrd==2.0.1
yaspin==2.1.0
yfinance==0.1.63
zipp==3.6.0
zope.interface==5.2.0